{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Django WebCamera{% endblock %}
{% block content %}

<div class="bg-secondary ">

    <div id="container" class="container">


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
                <center>
                    <video playsinline autoplay style='border: 1px solid #fff;'></video>
                </center>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <center>
                    <button class="btn btn-primary">Take snapshot</button>
                </center>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                <center>
                    <canvas id="canvas" style='border: 1px solid #fff;'></canvas>
                </center>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2 mb-2">
                <center>
                    <form action="" method="POST" id="form1">
                        {% csrf_token %}
                        <input type="hidden" name="canvasData" id="my_hidden">
                        <input type="submit" name="submit" value="Submit" onclick="save()" class="btn btn-primary">
                    </form>
                </center>

            </div>
        </div>


    </div>
</div>

<div class=" d-flex justify-content-center align-items-center" id="spinner">
    <div class="">

        <div class=" spinner-border text-dark" role="status" id="loader">

            <span class="sr-only">Loading...</span>
        </div>

    </div>

</div>


<div class="modal fade" id="modal_success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h6 class="modal-title" id="exampleModalLabel">Success Message</h6>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    Your image has been uploaded successfully.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
<script>

$(document).ready(function(){

    {% if success %}
    $("#modal_success").modal('show');


    {% endif %}

    {% if error %}
    $("#modal_error").modal('show');


    {% endif %}





 });


'use strict';



// Put variables in global scope to make them available to the browser console.
const video = document.querySelector('video');
const canvas = window.canvas = document.querySelector('canvas');
canvas.width = 480;
canvas.height = 360;

const button = document.querySelector('button');
button.onclick = function() {
  canvas.width = video.videoWidth;
  canvas.height = video.videoHeight;
  canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
};

const constraints = {
  audio: false,
  video: true
};

function handleSuccess(stream) {
  window.stream = stream; // make stream available to browser console
  video.srcObject = stream;
}

function handleError(error) {
  console.log('navigator.MediaDevices.getUserMedia error: ', error.message, error.name);
}

navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);

function save()
    {
        var element = document.getElementById("spinner");
        element.classList.add("overlay");
        $("#loader").show();
        var canvas = document.getElementById('canvas');
        document.getElementById('my_hidden').value = canvas.toDataURL('image/png');
        document.forms["form1"].submit(); //test
    }






</script>
{% endblock %}