<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Webcamera</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <style type="text/css">
          #loader{
                      position: fixed;
                      left: 50%;
                      top: 50%;
                      display:none;
                      z-index: 9999;
                }

            .overlay {
                        background-color:#EFEFEF;
                        position: fixed;
                        width: 100%;
                        height: 100%;
                        z-index: 1000;
                        top: 0px;
                        left: 0px;
                        opacity: .5;
                        filter: alpha(opacity=50);
                        display: none;
  }


    </style>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">Django Web Camera</span>
    <form class="form-inline my-2 my-lg-0">

        <span class="navbar-brand mb-0 h1">Welcome {{user.username}}</span>
      <a class="btn btn-primary my-2 my-sm-0" type="submit" href="{% url 'logout' %}">Log Out</a>
    </form>
</nav>



<div class="bg-secondary ">

    <div id="container" class="container">


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
                <center>
                    <video playsinline autoplay style='border: 1px solid #fff;'></video>
                </center>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <center>
                    <button class="btn btn-primary">Take snapshot</button>
                </center>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                <center>
                    <canvas id="canvas" style='border: 1px solid #fff;'></canvas>
                </center>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2 mb-2">
                <center>
                    <form action="" method="POST" id="form1">
                        {% csrf_token %}
                        <input type="hidden" name="canvasData" id="my_hidden">
                        <input type="submit" name="submit" value="Submit" onclick="save()" class="btn btn-primary">
                    </form>
                </center>

            </div>
        </div>


    </div>
</div>

<div class=" d-flex justify-content-center align-items-center" id="spinner">
    <div class="">

        <div class=" spinner-border text-dark" role="status" id="loader">

            <span class="sr-only">Loading...</span>
        </div>

    </div>

</div>


<div class="modal fade" id="modal_success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h6 class="modal-title" id="exampleModalLabel">Success Message</h6>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    Your image has been uploaded successfully.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        Developed By Harshit Santosh

    </div>
</footer>



<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>


<script>

$(document).ready(function(){

    {% if success %}
    $("#modal_success").modal('show');


    {% endif %}

    {% if error %}
    $("#modal_error").modal('show');


    {% endif %}





 });


'use strict';



// Put variables in global scope to make them available to the browser console.
const video = document.querySelector('video');
const canvas = window.canvas = document.querySelector('canvas');
canvas.width = 480;
canvas.height = 360;

const button = document.querySelector('button');
button.onclick = function() {
  canvas.width = video.videoWidth;
  canvas.height = video.videoHeight;
  canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
};

const constraints = {
  audio: false,
  video: true
};

function handleSuccess(stream) {
  window.stream = stream; // make stream available to browser console
  video.srcObject = stream;
}

function handleError(error) {
  console.log('navigator.MediaDevices.getUserMedia error: ', error.message, error.name);
}

navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);

function save()
    {
        var element = document.getElementById("spinner");
        element.classList.add("overlay");
        $("#loader").show();
        var canvas = document.getElementById('canvas');
        document.getElementById('my_hidden').value = canvas.toDataURL('image/png');
        document.forms["form1"].submit(); //test
    }






</script>

</body>
</html>

