{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Django WebCamera{% endblock %}
{% block content %}

<div class="bg-secondary ">

    <div id="container" class="container">

        <div class="select">
            <label for="videoSource">Video source: </label><select id="videoSource"></select>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
                <center>
                    <video playsinline autoplay style='border: 1px solid #fff;' width="320" height="240"></video>
                </center>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <center>
                    <button class="btn btn-primary" id="btn_snapshot" name="btn_snapshot">Take snapshot</button>
                </center>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2">
                <center>
                    <canvas id="canvas" style='border: 1px solid #fff;'></canvas>
                </center>

            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2 mb-2 bg-light ">
                <center>

                    <a href="{% url 'signup' %}" class="btn btn-success mt-2"> Sign Up</a> or
                    <a href="{% url 'login' %}" class="btn btn-primary mt-2">Login </a> to save your Image in Database.


                    <p>Your images will be automatically deleted in 24 hours. So do not worry and use this portal.</p>
                </center>

            </div>
        </div>


    </div>
</div>


{% endblock %}

{% block script %}
<script>

'use strict';



// Put variables in global scope to make them available to the browser console.
const video = document.querySelector('video');
const canvas = window.canvas = document.querySelector('canvas');
canvas.width = 320;
canvas.height = 240;

//for selecting the Camera//
const videoSelect = document.querySelector('select#videoSource');
const selectors = [videoSelect];
//for selecting the Camera//

//const button = document.querySelector('button');
const button = document.getElementById('btn_snapshot');
button.onclick = function() {
  canvas.width = 320;
  canvas.height = 240;
  canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
};

// for finding Camera
function gotDevices(deviceInfos) {
  // Handles being called several times to update labels. Preserve values.
  const values = selectors.map(select => select.value);
  selectors.forEach(select => {
    while (select.firstChild) {
      select.removeChild(select.firstChild);
    }
  });
  for (let i = 0; i !== deviceInfos.length; ++i) {
    const deviceInfo = deviceInfos[i];
    const option = document.createElement('option');
    option.value = deviceInfo.deviceId;
    if (deviceInfo.kind === 'videoinput') {
      option.text = deviceInfo.label || `camera ${videoSelect.length + 1}`;
      videoSelect.appendChild(option);
    } else {
      console.log('Some other kind of source/device: ', deviceInfo);
    }
  }
  selectors.forEach((select, selectorIndex) => {
    if (Array.prototype.slice.call(select.childNodes).some(n => n.value === values[selectorIndex])) {
      select.value = values[selectorIndex];
    }
  });
}

// for enumerating the devices //
navigator.mediaDevices.enumerateDevices().then(gotDevices).catch(handleError);

function gotStream(stream) {
  window.stream = stream; // make stream available to console
  video.srcObject = stream;
  // Refresh button list in case labels have become available
  return navigator.mediaDevices.enumerateDevices();
}


function start() {
  if (window.stream) {
    window.stream.getTracks().forEach(track => {
      track.stop();
    });
  }

  const videoSource = videoSelect.value;
  const constraints = {
    audio: false,
    video: {deviceId: videoSource ? {exact: videoSource} : undefined}
  };
  navigator.mediaDevices.getUserMedia(constraints).then(gotStream).then(gotDevices).catch(handleError);
}

function handleError(error) {
  console.log('navigator.MediaDevices.getUserMedia error: ', error.message, error.name);
}


videoSelect.onchange = start;
start();
<!--const constraints = {-->
<!--  audio: false,-->
<!--  video: true-->
<!--};-->

<!--function handleSuccess(stream) {-->
<!--  window.stream = stream; // make stream available to browser console-->
<!--  video.srcObject = stream;-->
<!--}-->



<!--navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);-->







</script>
{% endblock %}