{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Images{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="container mt-2">
        <h4>Uploaded Images</h4>
        <p>The images will be deleted automatically after 24 hours.</p>
        <div class="row">

            {% for image in images %}
            <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 mt-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{ image.file.url}}" class="card-img-top" alt="{{image.file}}">

                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}

